body{
	background-color: #808080;
}
.wrapper{
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 0.5%;
	height: 98%;
	width: 98%;
	display: grid;
	grid-template-columns: 20% 74%;
	grid-template-rows: auto;
	grid-gap:4%;
}
aside{
	grid-row: 1/2;
	grid-column: 1/2;
}

.canvas{
	grid-row: 1/2;
	grid-column: 2/3;
	/*background-color: #808080;*/
}

.asideItem{
	text-align: center;
	width: 100%;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #202020;
	margin-bottom: 10px;
}

.myh1{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-size: 25px; 
	font-style: thin; 
	font-weight: 100; 
	line-height: 25px; 
	color: white;
	margin-top: 0px;
	margin-bottom:5px;
}

.myh2{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-size: 14px; 
	font-style: thin;  
	font-weight: 100; 
	line-height: 14px; 
	color: white;
	margin-top: 0px;
	margin-bottom:5px;
}

input[type=radio]{
	display:none;
	margin:10px;
}

input[type=radio] + label{
	display: inline-block;
	margin: -2px;
	padding:4px 12px;
	background-color: #202020;
	border-color:#ddd;
	color: white;
	font-size: 25px;
	font-style: thin; 
	font-weight: 100; 
	cursor: pointer; 	
}

#asit6{
	cursor: pointer;
}

input[type=radio]:checked + label{
	background-image: none;
	background-color: #303030;
}

.smallInput{
	width:30px;
}


@media only screen and (max-width: 1000px) and (min-width: 501px) {
	.wrapper{
		padding-left: 1%;
		padding-right: 1%;
		padding-top: 0.5%;
		height: 98vh;
		width: 98vw;
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto auto;
		grid-gap:4%;
	}
	.canvas{
		grid-row: 2/3;
		grid-column: 1/2;
		height: 98vw;
		width: 98vw;
		margin-bottom:10px;
	}
	aside{
		grid-row: 1/2;
		grid-column: 1/2;
	}

	.asideItem{
		text-align: center;
		width: auto;
		max-width:100%;
		padding-top: 8px;
		padding-bottom: 8px;
		background-color: #202020;
		margin-bottom: 10px;
	}
	.myh1{
		line-height: 50px;
		font-size: 50px;
	}
	.myh2{
		line-height: 35px;
		font-size: 35px;
	}
	input[type=radio] + label{
		font-size: 50px;
	}
	input[type=text]{
		width:100%;
		height:90%;
	}
	.anglesInput{
		height:30px;
		width:100px;
	}
	.axrule{
		margin-left:35%;
		height:30px;
		width:30%;
	}
	#eq{
		padding-top:10px;
		font-size: 50px;
	}
	#rulesSmall{
		margin-left:45%;
	}
	#addbutton{
		font-size:30px;
	}
}
#addbutton{
	height:30px;
	width:50px;
	font-size:14px;
	background-color: #202020;
	color: white;
	border:2px solid white;
	text-align: center;
	text-decoration:none;
	cursor:pointer;
	margin:4px 2px;
}

/* Set a style for all buttons */
.formbtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 350px;
}

.formbtn:hover {
    opacity: 0.8;
}

.container {
    padding: 26px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 400px; /* Could be more or less, depending on screen size */
}

.field {
    width: 100% !important;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#logout{
	display:none;
}


.literal{
	width:20%	;
}
.rule{
	width:50%;
}

.wrapper {
  box-sizing: border-box;
  display: grid;
  grid-gap: 0.25%;
  height: 100%;
  width: 100%;
  grid-template-columns: 19.85% 19.85% 19.85% 19.85% 19.85%;
}

.box {
  height: 100%;
  width: 100%;
  background-color: #000000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position:relative;
}

.box:hover img {
  opacity: 0.3;
}

.box:hover .middle {
  opacity: 1;
}

.bottom-right {
  color: #fff;
  position: absolute;
  bottom: 15%;
  right: 15%;
}

.gallery {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.7);
}

.gallery-content {
  position: relative;
  display: grid;
  grid-template-rows: 5% 5% 30% 10% 30% 10% 4%;
  grid-template-columns: 10% 75% 10%;
  grid-gap: 1%;
  margin: auto;
  height: 100%; 
  width: 80%;
}

.gallery-image{
  grid-row: 3/6;
  grid-column: 2/3;    
  object-fit: contain;
}

.close-button {
  grid-row: 2/3;
  grid-column: 3/4;
  color: #808080;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  bottom: 0;
}

.close-button:hover,
.close-button:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  width: auto;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.4s ease;
  text-align: center;
  vertical-align: center;
}

.prev{
  border-radius: 3px 0 0 3px;
  grid-row: 4/5;
  grid-column: 1/2;
}

.next {
  grid-row: 4/5;
  grid-column: 3/4;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  color: white;
}
