html {
  height: 99.8%;
  box-sizing: border-box;

}

img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  transition: .5s ease;
  backface-visibility: hidden;
}

body {
  margin: 0px;
  height: 100%;
}

h1 { 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-size: 40px; 
  font-style: thin; 
  font-variant: normal; 
  font-weight: 100; 
  line-height: 26.4px; 
  color: white;
} 
h3 { 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 100; 
  line-height: 15.4px; 
  color: white;
} 
p { 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 50; 
  line-height: 20px; 
  color: white;

} 